body {
    text-align: center;
    background-color: darkslategray;
}

image {
    height: 150px;
}

li {
    text-align: center;
    margin: 30px;
    list-style-type: none;
}

#main{
    width: 75%;
    background-color: rgb(216, 239, 203);
    border: 1px solid darkslategray;
    width: 50%;
    min-height: 500px;
    border-radius: 20%;
    margin: auto;
    padding: 20px;
}

.preview {
    margin-top: 1rem; max-width: 300px;
}
